.DS_Store
*.m~
slprj/
*.mexmaci64
			
/LaTeX/_region_.log
/LaTeX/_region_.tex
/LaTeX/intro.log
/LaTeX/main.aux
/LaTeX/main.bbl
/LaTeX/main.blg
/LaTeX/main.log
/LaTeX/main.out
/LaTeX/main.pdf
main.prv
/LaTeX/main.synctex.gz
/LaTeX/prelims.log
/LaTeX/prv_main.fmt
/LaTeX/prv_main.log
/LaTeX/solverswitch.log
/MetaH_examples/AFC_model/AbstractFuelControl_M1NFM_breach_acc.mexa64
*.mexa64
*.slxc
